.todos {
  &__create-input {
    margin: 0 auto 5px;
    width: 300px;
  }
  &__create-button {
    margin: 0 auto 20px;
    display: block;
  }
  &__task {
    &--completed {
      text-decoration: line-through;
    }
  }
  &__update-input {
    margin: 0 auto;
    width: 300px;
  }
}
tr, th {
  font-size: 20px;
  text-align: center;
}
